@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("blog-media.css");
@import url("buttons.css");

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    word-wrap: break-word;
}

.container{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: minmax(100px, auto);
    grid-template-areas:
    "hd hd"
    "sb sb"
    "ct ct"
    "ft ft";
}

.header{
    grid-area: hd;
    display: flex;
    padding: 20px;
    background-image: url("pagetop.jpg");
    color: white;
    justify-content: center;
}

.content{
    grid-area: ct;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer{
    grid-area: ft;
    background-color: rgb(68, 68, 68);
    padding: 20px;
    color: white;
}

.sidebar{
    grid-area: sb;
    padding: 5px;
    background-color: silver;
}

.card{
    width: 40%;
    height: 30%;
    margin: 20px;
    border: 2px solid gray;
    padding:10px;
}

.card:hover{
    box-shadow: 0 0 10px gray;
}

.date{
    color: gray;
}

.cardone{
    color: blue;
}

.cardtwo{
    color: green;
}

#sidebarpic{
    max-width: 100%;
    height: auto;
}