@media(min-width: 600px) and (max-width: 900px){
    body>.container{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: minmax(100px, auto);
        grid-template-areas: 
        "hd hd hd hd"
        "sd main main main"
        "sd hdzero hdzero hdzero"
        "sd hdone hdone hdone"
        "sd hdtwo hdtwo hdtwo";
    }
}

@media(min-width: 901px){
    body>.container{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: minmax(100px, auto);
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd main main main main main main main"
        "sd hdzero hdzero hdzero hdzero hdzero hdzero hdzero"
        "sd hdone hdone hdone hdone hdone hdone hdone"
        "sd hdtwo hdtwo hdtwo hdtwo hdtwo hdtwo hdtwo";
    }
}